<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.dao.UserMapper">

<!--  유저 아이디로 유저 조회 -->
  <select id="getUserByAccount" parameterType="string" resultType="com.bbs.domain.User">
    SELECT
      *
    FROM
      user
    WHERE
      account = #{value}
  </select>

<!--  유저 권한명 조회 -->
  <select id="getRoleName" parameterType="Long" resultType="String">
    SELECT
        name
    FROM
        role
    WHERE
        id = #{value}
  </select>

<!--  유저 DB 등록 -->
  <insert id="registerUser" parameterType="com.bbs.domain.User">
    INSERT INTO
        user (role_id,
              account,
              password)
    VALUES
            (#{roleId},
            #{account},
            #{password})
  </insert>

<!--  페이지 번호 기반 유저 리스트 반환 *** 최대 10개까지 *** -->
  <select id="getUserList" resultType="com.bbs.domain.User" parameterType="int">
    SELECT
        *
    FROM
        user
    WHERE
        role_id = 2
    LIMIT 10
    OFFSET #{value}
  </select>

<!--  총 유저 수 반환-->
  <select id="getNumberOfUsers" resultType="int">
    SELECT
        COUNT(*)
    FROM
        user
    WHERE
        role_id = 2
  </select>

<!--  id(PK)에 해당하는 유저 삭제 처리-->
  <update id="deleteUserById" parameterType="int">
    UPDATE
        user
    SET
        user_deleted = 1
    WHERE
        id = #{value} AND role_id = 2
  </update>

<!--  유저 삭제일 갱신 -->
  <update id="updateDateDeleted" parameterType="int">
    UPDATE
        user
    SET
        date_deleted = CURRENT_TIMESTAMP()
    WHERE
        id = #{value} AND role_id = 2
  </update>

<!--  id(PK)에 해당하는 유저 복구 -->
  <update id="recoverUserById" parameterType="int">
    UPDATE
      user
    SET
      user_deleted = 0
    WHERE
      id = #{value} AND role_id = 2
  </update>
<!--  유저 삭제일 복구 -->
  <update id="recoverDateDeleted" parameterType="int">
    UPDATE
      user
    SET
      date_deleted = NULL
    WHERE
      id = #{value} AND role_id = 2
  </update>
</mapper>